


<div class="hero-unit span6">  
  <div class="row">
    <div class="span6 pagination-centered">
      <p>Der? die? das? Nur eins ist richtig!</p>
      <div class="well">
        <h1> <%=@word.noun%> </h1>
      </div>
    </div>
  </div>
  <div class="row">

    <%= form_for(@word) do %>
      <% # send the clicked one to the home/check action, see match route %>
      <div class="span2">
        <p>
        <%= submit_tag "Der", name: "chose_der",class: "btn btn-large btn-inverse btn-block" %>
        </p>
      </div>
      <div class="span2">
        <p>
        <%= submit_tag "Die", name: "chose_die",class: "btn btn-large btn-danger btn-block" %>
        </p>
      </div>
      <div class="span2">
        <p>
        <%= submit_tag "Das", name: "chose_das",class: "btn btn-large btn-warning btn-block" %>
        </p>
      </div>
      <% end %>
  </div>
</div>
