


<div class="hero-unit span10">  

  <div class="row">
    <div class="span8 offset1 pagination-centered">

      <div class="well">
        <h1> <%=@word.noun%> </h1>
      </div>


    </div>
  </div>


  <div class="row">
    <%= form_for(@word, :url => check_url(:id => @word.id)) do %>
      <% # send the clicked one to the home/check action, see match route %>
      <div class="span2 offset2">
        <p>
        <%= submit_tag "Der", name: "chose_der",class: "btn btn-large btn-inverse btn-block" %>
        </p>
      </div>
      <div class="span2 offset0">
        <p>
        <%= submit_tag "Die", name: "chose_die",class: "btn btn-large btn-danger btn-block" %>
        </p>
      </div>
      <div class="span2 offset0">
        <p>
        <%= submit_tag "Das", name: "chose_das",class: "btn btn-large btn-warning btn-block" %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <small>
      <div class="span10 offset1">
        <br>
        <p> 
        Frequency of <em><%=@word.noun%></em> :  <strong> <%=@word.weight%> </strong> 
        (10 most frequent, 1 uncommon)
        </p>
         <% if signed_in? %>
           <p> 
           Your level for <em><%=@word.noun%></em>: <strong> <%=current_user.word_level(@word)%> </strong>   
            (10 worst level, 1 you got it!)
           </p>
         <% end %>
      </div>
    </small>
  </div>

  <div class="row">
   <big>
      <div class="span8 offset1">
        <% flash.each do |key, value| %>
          <div class="alert fade in alert-<%= key %>">
            <%= value %>
            <a href="#" data-dismiss="alert" class="close">&times</a>
          </div>
        <% end %>
    </div>
   </big>
  </div>

</div>


