<footer class="footer">
<ul class="nav pull-right">
  <!--
  <li><%= link_to "About",   '#' %></li>
  <li><%= link_to "Contact", '#' %></li>
  -->
  <% unless signed_in? %>
  <li>
          <%= link_to "Sign up!", signup_path, class: "btn btn-small btn-success" %>
          ...and track your progress!
  </li>
  <% end %>
</ul>
<ul class="nav pull-left">
  <li>
  <small>
  All data extracted from <%= link_to "Wiktionary",   'http://de.wiktionary.org/wiki/Wiktionary:Hauptseite' %>, and available under the <%= link_to " Creative Commons Attribution/Share-Alike License",   'http://creativecommons.org/licenses/by-sa/3.0/' %>
  </small>
  </li>
</ul>
</footer>
